In [1]:
import pandas as pd
import os

In [2]:
data_folder = '../data'
data_files = os.listdir(data_folder)
four_year_data_files = []
for file in data_files:
    if file[-8:-4] == '2014' or file[-8:-4] == '2011' or file[-8:-4] == '2013' or file[-8:-4] == '2012':
        four_year_data_files.append(file)

In [3]:
merged_df = pd.read_csv(data_folder+'/'+four_year_data_files[0])
new_columns = merged_df.iloc[1]
year_all = merged_df[2:]
year_all.columns =new_columns
merged_df = year_all.loc[:, year_all.columns.notnull()]


for i in four_year_data_files[1:]:
    df = pd.read_csv(data_folder+'/'+i)
    new_columns = df.iloc[1]
    year_all = df[2:]
    year_all.columns =new_columns
    df = year_all.loc[:, year_all.columns.notnull()]
    
    merged_df = pd.concat([merged_df,df],ignore_index=True)
    
print(merged_df.shape)

(35040, 21)

In [4]:
year = merged_df.drop(columns=['Year','Month','Day','Minute','DHI','DNI','Clearsky DHI','Clearsky DNI','Fill Flag','Dew Point','Clearsky GHI','Solar Zenith Angle','Wind Direction','Snow Depth','Precipitable Water'])

In [5]:
year.head()

1,Hour,GHI,Temperature,Pressure,Relative Humidity,Wind Speed
0,0,0,12.751339552289267,957.9305419921875,58.41139916942352,4.430836200714111
1,1,0,12.196895002047142,957.7622680664062,67.29592773800267,4.453418731689453
2,2,0,11.806139366268553,957.8780517578125,72.56749007380043,4.3355021476745605
3,3,0,11.510595990320212,957.6235961914062,75.29933981073673,4.2338972091674805
4,4,0,11.306806960929293,957.932861328125,76.7992879237338,4.197237968444824

In [19]:
# year = year[~year.Hour.str.contains(['0','1'])]
year = year[~year['Hour'].isin(['0','1','2','3','4','5','6','18','19','20','21','22','23','24'])]

In [20]:
year.head()

1,Hour,GHI,Temperature,Pressure,Relative Humidity,Wind Speed
7,7,2,7.843671917128461,963.4619140625,29.510182198604596,3.0571751594543457
8,8,172,11.60316763285988,964.1290283203125,23.535774446461094,2.3985953330993652
9,9,373,16.29567322510985,964.5115966796875,21.501197394812532,1.8375225067138672
11,11,641,23.578190773326696,962.9659423828125,24.337960421482215,0.43651267886161804
12,12,684,25.0019275230145,961.9838256835938,23.328153624940963,0.2759975492954254

In [21]:
year.to_csv('../11_hour_merged_data.csv',index=False, sep=',', encoding='utf-8')
year.head()
year = year.replace('-',0).astype('float64')
year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14600 entries, 7 to 35033
Data columns (total 6 columns):
Hour                 14600 non-null float64
GHI                  14600 non-null float64
Temperature          14600 non-null float64
Pressure             14600 non-null float64
Relative Humidity    14600 non-null float64
Wind Speed           14600 non-null float64
dtypes: float64(6)
memory usage: 798.4 KB