In [7]:
import os
import sys
import pandas as pd
import csv
import sklearn

In [2]:
data_folder = '../data'
data_files = os.listdir(data_folder)

In [6]:
for file in data_files:
    print("for year "+file[-8:-4]+" : " + file)

for year 2014 : 22306_24.65_73.75_2014.csv
for year 2000 : 22306_24.65_73.75_2000.csv
for year 2012 : 22306_24.65_73.75_2012.csv
for year 2013 : 22306_24.65_73.75_2013.csv
for year 2008 : 22306_24.65_73.75_2008.csv
for year 2005 : 22306_24.65_73.75_2005.csv
for year 2007 : 22306_24.65_73.75_2007.csv
for year 2006 : 22306_24.65_73.75_2006.csv
for year 2009 : 22306_24.65_73.75_2009.csv
for year 2001 : 22306_24.65_73.75_2001.csv
for year 2011 : 22306_24.65_73.75_2011.csv
for year 2004 : 22306_24.65_73.75_2004.csv
for year 2010 : 22306_24.65_73.75_2010.csv
for year 2003 : 22306_24.65_73.75_2003.csv
for year 2002 : 22306_24.65_73.75_2002.csv

In [17]:
year_2014 = pd.read_csv(data_folder+'/'+data_files[0])
year_2014.head()

,Source,Location ID,City,State,Country,Latitude,Longitude,Time Zone,Elevation,Local Time Zone,...,Wind Direction Units,Wind Speed,Snow Depth Units,Fill Flag 0,Fill Flag 1,Fill Flag 2,Fill Flag 3,Fill Flag 4,Fill Flag 5,Version
0,SUNY,22306,-,-,India,24.65,73.75,5.5,0,5.5,...,Degrees,m/s,m,NaN,Missing Image,Low Irradiance,Exceeds Clearsky,Missing CLoud Properties,Rayleigh Violation,unknown
1,Year,Month,Day,Hour,Minute,DHI,DNI,GHI,Clearsky DHI,Clearsky DNI,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2014,1,1,0,30,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2014,1,1,1,30,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2014,1,1,2,30,0,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
for counter,i in enumerate(year_2014.columns):
    print(str(counter)+ " : " + i)

0 : Source
1 : Location ID
2 : City
3 : State
4 : Country
5 : Latitude
6 : Longitude
7 : Time Zone
8 : Elevation
9 : Local Time Zone
10 : Clearsky DHI Units
11 : Clearsky DNI Units
12 : Clearsky GHI Units
13 : Dew Point Units
14 : DHI Units
15 : DHI Perez Units
16 : DNI Units
17 : DNI Perez Units
18 : GHI Units
19 : GHI Perez Units
20 : Solar Zenith Angle Units
21 : Temperature Units
22 : Pressure Units
23 : Relative Humidity Units
24 : Precipitable Water Units
25 : Wind Direction Units
26 : Wind Speed
27 : Snow Depth Units
28 : Fill Flag 0
29 : Fill Flag 1
30 : Fill Flag 2
31 : Fill Flag 3
32 : Fill Flag 4
33 : Fill Flag 5
34 : Version